border-radius(args...)
	-moz-border-radius args
	-webkit-border-radius args
	-o-border-radius args
	-ms-border-radius args
	border-radius args
box-shadow(args...)
	-moz-box-shadow args
	-webkit-box-shadow args
	-o-box-shadow args
	-ms-box-shadow args
	box-shadow args
box-sizing(args...)
	-moz-box-sizing args
	-webkit-box-sizing args
	-o-box-sizing args
	-ms-box-sizing args
	box-sizing args
transition(args...)
	-webkit-transition args
	-moz-transition args
	-ms-transition args
	-o-transition args
	transition args
transform(args...)
	-webkit-transform args
	-moz-transform args
	-ms-transform args
	-o-transform args
	transform args
opacity(args...)
	-webkit-opacity args
	-moz-opacity args
	-ms-opacity args
	-o-opacity args
	opacity args